## Selecting and Filtering Data
* 엄청나게 많은 데이터셋중에서 데이터를 이해할 수 있는 수준으로 깍아내는 방법
* 기술을 보여주기 위해 직감을 사용하여 몇 가지 변수를 선택해 본다.
* 우선 첫번째로 columns name을 살펴 보자

In [ ]:
import pandas as pd

melbourne_file_path = './melb_data.csv'
melbourne_data = pd.read_csv(melbourne_file_path)
print(melbourne_data.columns)

## Selecting a Single Column
* 단일열을 살펴 볼때는 -> dot-notation(점표기법)를 써라.
* 보고싶은 columns을 떼어낸 후에 변수로 지정하고 봐라 -> Series형식으로 표기된다.

In [2]:
melbourne_price_data = melbourne_data.Price
print(melbourne_price_data.head())

0    1480000.0
1    1035000.0
2    1465000.0
3     850000.0
4    1600000.0
Name: Price, dtype: float64

## Selecting Multiple Columns
* 여러 column을 searching하고 싶으면 [ ] 안에 보고 싶은 colums을 담아 변수로 지정한다
* 이렇게 하면 코드의 유연성이 증가하고, 직관적으로 접근 할 수 있다.

In [3]:
columns_of_interest = ['Landsize','BuildingArea']
two_columns_of_data = melbourne_data[columns_of_interest]

##### 이렇게 사용한후 describe method를 활용하여 필요한 data를 탐색해 본다.

In [4]:
two_columns_of_data.describe()

            Landsize  BuildingArea
count   13603.000000   7762.000000
mean      558.116371    151.220219
std      3987.326586    519.188596
min         0.000000      0.000000
25%       176.500000     93.000000
50%       440.000000    126.000000
75%       651.000000    174.000000
max    433014.000000  44515.000000